.nav-wrapper{
  width: 100%;
   
  position: sticky; 
  top:0;
  background-color:  #E5E5E5;
  z-index: 10;
  display: flex;
  padding : 0.5rem;
  font-size: 1.5rem;
  font-weight: 300;
}

.logo-icon{
  background-image: url('./finance.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:  contain; 
    height: 2.5rem;
    width: 2.5rem;
    margin-right : 0.0rem;
  }