.nav-wrapper{
  width: 100%;
   
  position: sticky; 
  top:0;
  background-color:  #E5E5E5;
  z-index: 10;
  display: flex;
  padding : 0.5rem
}

.logo-icon{
  background-image: url('./invention.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:  contain; 
    height: 1.5rem;
    width: 1.5rem;
    margin-right : 1rem;
  }